{% extends 'base.html' %}

{% block body %}

{% if posts|length > 0 %}
<h1>{% block title %} Posts {% endblock %}</h1>
{% else %}
<h1>There are no Posts</h1>
{% endif %}
<br>

    <div class="d-grid gap-2 d-md-block">
        {% for post in posts %}
        <a style="float:left" href="{{ url_for('posts', post_id=post['id']) }}">
            <button type="button" class="btn btn-outline-primary">{{ post['title'] }}</button>
        </a>
        <br><br>
        <span class="text-start">Posted: {{ post['timeCreated'] }} by {{ current_user.first_name }}</span>
        <hr>
        {% endfor %}
    </div>

    {% endblock body %}




